{
    Filter = {
        Bundles = (
            "com.zhiliaoapp.musically",
            "com.ss.iphone.ugc.Aweme",
            "com.bytedance.tiktok",
            "musical.ly",
            "TikTok"
        );
        Executables = (
            "TikTok",
            "musically",
            "Aweme",
            "musical.ly",
            "ByteDance"
        );
    };
}