<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>BHTikTok Unified</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>Version</string>
            <key>value</key>
            <string>25.9.10</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSTitleValueCell</string>
            <key>label</key>
            <string>Author</string>
            <key>value</key>
            <string>BHTikTok Unified Team</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>功能设置</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.apple.Preferences</string>
            <key>key</key>
            <string>dw_videos</string>
            <key>label</key>
            <string>启用下载功能</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.apple.Preferences</string>
            <key>key</key>
            <string>show_region_info</string>
            <key>label</key>
            <string>显示地区信息</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.apple.Preferences</string>
            <key>key</key>
            <string>show_upload_time</string>
            <key>label</key>
            <string>显示上传时间</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>复制功能</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.apple.Preferences</string>
            <key>key</key>
            <string>copy_decription</string>
            <key>label</key>
            <string>复制视频描述</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.apple.Preferences</string>
            <key>key</key>
            <string>copy_video_link</string>
            <key>label</key>
            <string>复制视频链接</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <true/>
            <key>defaults</key>
            <string>com.apple.Preferences</string>
            <key>key</key>
            <string>copy_music_link</string>
            <key>label</key>
            <string>复制音乐链接</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSGroupCell</string>
            <key>label</key>
            <string>关于</string>
        </dict>
        <dict>
            <key>action</key>
            <string>showAbout</string>
            <key>cell</key>
            <string>PSButtonCell</string>
            <key>label</key>
            <string>关于</string>
        </dict>
    </array>
    <key>title</key>
    <string>BHTikTok Unified</string>
</dict>
</plist>